*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done{
  text-decoration: line-through;
}

.item{
  display: flex;
  justify-content: space-between;
}